.PostitGrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Postit {
    width: fit-content;
    color: rgb(9, 18, 18);
    max-width: 500px;
    min-height: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    min-width: 300px;
    max-width: 500px;
    margin: 7px;
}

.PostitContainerDeTexto {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: wrap;
}

.PostitTitulo {
    width: 100%;
    text-align: left;
    text-decoration: underline;
    font-weight: 800;
    background: rgb(228, 177, 76);
    flex: 1;
}

.PostitCorpo {
    font-weight: 300;
    width: 100%;
    background: linear-gradient(180deg, rgba(228, 177, 76, 1) 5%, rgb(248, 196, 92) 15%, rgb(246, 197, 98) 100%);
    flex: 8;
}

.PoistitTexto {
    max-width: 100%;
    word-wrap: break-word;
    padding: 5px;
    margin: 10px 0 10px 0;
}

.PostitCodigo {
    margin-top: 9px;
    text-align: center;
}

.PostitTitulo p {
    margin-top: 20px;
}

.addPostit {
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: white;
    cursor: pointer;
}

.postitInput {
    font-size: 16px;
    height: scrollHeight;
    max-width: 100%;
    min-width: 30px;
    padding: 3px;
    font-weight: 800;
    color: rgb(9, 18, 18);
    background: transparent;
    border: none;
    scrollbar-width: none;
    overflow: hidden;
}

.postitInput:focus {
    outline: 1px dotted rgb(9, 18, 18);
}